<a href="https://colab.research.google.com/github/DanturtiSaiPavan/newintern/blob/master/DATEFINDER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THIS PROJECT IS A DATE FINDING AND DATE MANUPILATION CODE USING PYTHON.
THIS PROJECT INCLUDES FOLLOWING MODULES




*   NUMPY
*   PANDAS
*   ITERTOOLS
*   DATETIME
*   DATEFINDER

In [ ]:
import numpy as np #for array use
import pandas as pd #for dataframes

Write a function in python that inputs a dataframe and identify which columns have date in them. Using these date columns make new columns which are difference between these columns taking 2 at a time. (for instance if there is date1, date2, date3 columns, output should be like date1-date2, date2-date3, date1-date3). For this problem only, print out data in the colab.

Thing to consider

· Date column might have some invalid entries in them

· Date can be of different format throughout the column

· Code should be efficient and fast

sol:For this there is a built in module called **datefinder**
A python module for locating dates inside text. We use this package to extract all sorts of date like strings from a document and turn them into datetime objects.

This module finds the likely datetime strings and then uses the dateparser package to convert to the datetime object.
The obtained datetime object is converted to string by **str()**function.

In [ ]:
!pip install datefinder

Collecting datefinder
  Downloading https://files.pythonhosted.org/packages/0c/4f/29524c9ca35d2ba1a8a3c6c895b90fc92525cf0fe357f747133890953ebe/datefinder-0.7.1-py2.py3-none-any.whl
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from datefinder) (2018.9)
Requirement already satisfied: python-dateutil>=2.4.2 in /usr/local/lib/python3.6/dist-packages (from datefinder) (2.8.1)
Requirement already satisfied: regex>=2017.02.08 in /usr/local/lib/python3.6/dist-packages (from datefinder) (2019.12.20)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.4.2->datefinder) (1.15.0)
Installing collected packages: datefinder
Successfully installed datefinder-0.7.1

In [ ]:
import datefinder
import datetime
from datetime import datetime
#lets make strings of dates with different formats to check the performance.
string1='''23-Mar 2019 8:42 PM'''
string2='''January 4th, 2017 6 AM'''
string3=''' 27/07/1999 is my B.day'''

date1=datefinder.find_dates(string1)
date2=datefinder.find_dates(string2)
date3=datefinder.find_dates(string3)
for d in date1:
 l=str(d)
 print(l)
for d in date2:
 l=str(d)
 print(l)
for d in date3:
 l=str(d)
 print(l)

2019-03-23 20:42:00
2017-01-04 06:00:00
1999-07-27 00:00:00

In [ ]:
from google.colab import files
uploaded = files.upload()
import io
df2 = pd.read_csv(io.BytesIO(uploaded['ipl schedule.csv']))

Saving ipl schedule.csv to ipl schedule.csv

This dataset has column of date and time  with different format, our goal is make another column with proper date format and perform some cleaning operations

In [ ]:
# Checking the data type
df2.dtypes

Date and time     object
Team 2019 IPL     object
Team 2019 IPL2    object
Venue             object
new_date          object
dtype: object

In [ ]:
#since dataset is made as random dataset we need to drop unnamed columns
df2.drop(df2.columns[df2.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df2

          Date and time Team 2019 IPL Team 2019 IPL2      Venue
0           21-Apr 2019           SRH            KKR  Hyderabad
1         21-April-2019           RCB            CSK  Bengaluru
2        22-04-2019 8pm            RR             DC     Jaipur
3                   NaN           CSK            SRH    Chennai
4                   NaN           RCB           KXIP  Bengaluru
5   25-Apr 2019 4:00 am           KKR             RR    Kolkata
6            26/04/2019           CSK             MI    Chennai
7           27-Apr 2019            RR            SRH     Jaipur
8               '28-Apr            DC            RCB      Delhi
9                   NaN           KKR             MI    Kolkata
10          29-Apr 2019           SRH           KXIP  Hyderabad
11          30-Apr 2019           RCB             RR  Bengaluru

In [ ]:
# Total number of rows and columns
df2.shape

(12, 4)

In [ ]:
# Rows containing duplicate data
duplicate_rows_df = df2[df2.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 4)

In [ ]:
# Used to count the number of rows before removing the data
df2.count()

Date and time      9
Team 2019 IPL     12
Team 2019 IPL2    12
Venue             12
dtype: int64

In [ ]:
# Dropping the duplicates 
df2 = df2.drop_duplicates()
df2

          Date and time Team 2019 IPL Team 2019 IPL2      Venue
0           21-Apr 2019           SRH            KKR  Hyderabad
1         21-April-2019           RCB            CSK  Bengaluru
2        22-04-2019 8pm            RR             DC     Jaipur
3                   NaN           CSK            SRH    Chennai
4                   NaN           RCB           KXIP  Bengaluru
5   25-Apr 2019 4:00 am           KKR             RR    Kolkata
6            26/04/2019           CSK             MI    Chennai
7           27-Apr 2019            RR            SRH     Jaipur
8               '28-Apr            DC            RCB      Delhi
9                   NaN           KKR             MI    Kolkata
10          29-Apr 2019           SRH           KXIP  Hyderabad
11          30-Apr 2019           RCB             RR  Bengaluru

In [ ]:
# Counting the number of rows after removing duplicates.
df2.count()

Date and time      9
Team 2019 IPL     12
Team 2019 IPL2    12
Venue             12
dtype: int64

In [ ]:
# Finding the null values.
print(df2.isnull().sum())

Date and time     3
Team 2019 IPL     0
Team 2019 IPL2    0
Venue             0
dtype: int64

In [ ]:
# Dropping the missing values.
df2 = df2.dropna() 
df2.count()
df2

          Date and time Team 2019 IPL Team 2019 IPL2      Venue
0           21-Apr 2019           SRH            KKR  Hyderabad
1         21-April-2019           RCB            CSK  Bengaluru
2        22-04-2019 8pm            RR             DC     Jaipur
5   25-Apr 2019 4:00 am           KKR             RR    Kolkata
6            26/04/2019           CSK             MI    Chennai
7           27-Apr 2019            RR            SRH     Jaipur
8               '28-Apr            DC            RCB      Delhi
10          29-Apr 2019           SRH           KXIP  Hyderabad
11          30-Apr 2019           RCB             RR  Bengaluru

In [ ]:
#Using datefinder module we are extracting date and time coulmn and making list of dates in proper yy/mm/dd format
#we make sure where some data of date and time not given would intake current timestamp or zero by default
Dates=list(df2['Date and time'])
j=0
r=[]
print(len(Dates))
for j in range(len(Dates)):
 dater=datefinder.find_dates(Dates[j])
 for l in dater:
  r.append(str(l))
r

9

['2019-04-21 00:00:00',
 '2019-04-21 00:00:00',
 '2019-04-22 20:00:00',
 '2019-04-25 04:00:00',
 '2019-04-26 00:00:00',
 '2019-04-27 00:00:00',
 '2020-04-28 00:00:00',
 '2019-04-29 00:00:00',
 '2019-04-30 00:00:00']

In [ ]:
df2['new_date']=r
df2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          Date and time Team 2019 IPL  ...      Venue             new_date
0           21-Apr 2019           SRH  ...  Hyderabad  2019-04-21 00:00:00
1         21-April-2019           RCB  ...  Bengaluru  2019-04-21 00:00:00
2        22-04-2019 8pm            RR  ...     Jaipur  2019-04-22 20:00:00
5   25-Apr 2019 4:00 am           KKR  ...    Kolkata  2019-04-25 04:00:00
6            26/04/2019           CSK  ...    Chennai  2019-04-26 00:00:00
7           27-Apr 2019            RR  ...     Jaipur  2019-04-27 00:00:00
8               '28-Apr            DC  ...      Delhi  2020-04-28 00:00:00
10          29-Apr 2019           SRH  ...  Hyderabad  2019-04-29 00:00:00
11          30-Apr 2019           RCB  ...  Bengaluru  2019-04-30 00:00:00

[9 rows x 5 columns]

In [ ]:
df2.dtypes

Date and time     object
Team 2019 IPL     object
Team 2019 IPL2    object
Venue             object
new_date          object
dtype: object

In [ ]:
import itertools  #for finding unique combination in new date columns
from datetime import datetime #for finding difference between dates interms of days

In [ ]:
#printing all possible combination witout repetitions
comb=list(itertools.combinations(df2['new_date'], 2))#making list of pairs of combined dates from dataframe
for i in range(len(comb)) :
  datef=comb[i][1]
  datei=comb[i][0]
  start_date = datetime.strptime(datef, '%Y-%m-%d %H:%M:%S')
  end_date = datetime.strptime(datei, '%Y-%m-%d %H:%M:%S')
  delta=start_date-end_date
  print("the difference between",datef,"and",datei,"is",delta,"hrs")

the difference between 2019-04-21 00:00:00 and 2019-04-21 00:00:00 is 0:00:00 hrs
the difference between 2019-04-22 20:00:00 and 2019-04-21 00:00:00 is 1 day, 20:00:00 hrs
the difference between 2019-04-25 04:00:00 and 2019-04-21 00:00:00 is 4 days, 4:00:00 hrs
the difference between 2019-04-26 00:00:00 and 2019-04-21 00:00:00 is 5 days, 0:00:00 hrs
the difference between 2019-04-27 00:00:00 and 2019-04-21 00:00:00 is 6 days, 0:00:00 hrs
the difference between 2020-04-28 00:00:00 and 2019-04-21 00:00:00 is 373 days, 0:00:00 hrs
the difference between 2019-04-29 00:00:00 and 2019-04-21 00:00:00 is 8 days, 0:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2019-04-21 00:00:00 is 9 days, 0:00:00 hrs
the difference between 2019-04-22 20:00:00 and 2019-04-21 00:00:00 is 1 day, 20:00:00 hrs
the difference between 2019-04-25 04:00:00 and 2019-04-21 00:00:00 is 4 days, 4:00:00 hrs
the difference between 2019-04-26 00:00:00 and 2019-04-21 00:00:00 is 5 days, 0:00:00 hrs
the difference between 2019-04-27 00:00:00 and 2019-04-21 00:00:00 is 6 days, 0:00:00 hrs
the difference between 2020-04-28 00:00:00 and 2019-04-21 00:00:00 is 373 days, 0:00:00 hrs
the difference between 2019-04-29 00:00:00 and 2019-04-21 00:00:00 is 8 days, 0:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2019-04-21 00:00:00 is 9 days, 0:00:00 hrs
the difference between 2019-04-25 04:00:00 and 2019-04-22 20:00:00 is 2 days, 8:00:00 hrs
the difference between 2019-04-26 00:00:00 and 2019-04-22 20:00:00 is 3 days, 4:00:00 hrs
the difference between 2019-04-27 00:00:00 and 2019-04-22 20:00:00 is 4 days, 4:00:00 hrs
the difference between 2020-04-28 00:00:00 and 2019-04-22 20:00:00 is 371 days, 4:00:00 hrs
the difference between 2019-04-29 00:00:00 and 2019-04-22 20:00:00 is 6 days, 4:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2019-04-22 20:00:00 is 7 days, 4:00:00 hrs
the difference between 2019-04-26 00:00:00 and 2019-04-25 04:00:00 is 20:00:00 hrs
the difference between 2019-04-27 00:00:00 and 2019-04-25 04:00:00 is 1 day, 20:00:00 hrs
the difference between 2020-04-28 00:00:00 and 2019-04-25 04:00:00 is 368 days, 20:00:00 hrs
the difference between 2019-04-29 00:00:00 and 2019-04-25 04:00:00 is 3 days, 20:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2019-04-25 04:00:00 is 4 days, 20:00:00 hrs
the difference between 2019-04-27 00:00:00 and 2019-04-26 00:00:00 is 1 day, 0:00:00 hrs
the difference between 2020-04-28 00:00:00 and 2019-04-26 00:00:00 is 368 days, 0:00:00 hrs
the difference between 2019-04-29 00:00:00 and 2019-04-26 00:00:00 is 3 days, 0:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2019-04-26 00:00:00 is 4 days, 0:00:00 hrs
the difference between 2020-04-28 00:00:00 and 2019-04-27 00:00:00 is 367 days, 0:00:00 hrs
the difference between 2019-04-29 00:00:00 and 2019-04-27 00:00:00 is 2 days, 0:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2019-04-27 00:00:00 is 3 days, 0:00:00 hrs
the difference between 2019-04-29 00:00:00 and 2020-04-28 00:00:00 is -365 days, 0:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2020-04-28 00:00:00 is -364 days, 0:00:00 hrs
the difference between 2019-04-30 00:00:00 and 2019-04-29 00:00:00 is 1 day, 0:00:00 hrs